 @import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@500&display=swap');
*{
    margin: 0;
    font-family: 'Rajdhani', sans-serif;
    text-align: center;
    font-size: large;
}
#navigation{
    position: sticky;
    top:0px;
    height: 50px;
    background-color: #1dd2af;
}
#nav-select{
   background-color: #e9de17;
   font-weight: 700;
}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #e1e3ea; 
}
.app{
    width: 60%;
}
@media (max-width:700px){
    .app{
        width: 100vw;

    }   
}
.app h1{
    font-size: 3em;
    text-align: center;
    padding: 20px 20px 0 0 ;
    background-color: #f14c62d3;
    border-radius: 4px ;
    color: white;   
}

form{
    display: flex;
    width: 100%;
}
.app form input{
    border: none;
    width: 90%;
    padding: 10px;
    font-size: 18px;
    height: 42px;
}
#select{
    background-color: bisque;
    font-size: large;
    color: red;
    text-align: center;
}
.app form button{
    border: none;
    color: white;
    background-color: #1dd2af;
    font-size: 25px;
    font-weight: 600;
    height: 42px;
    width: 10%;
}
.app form #category{
    border:none;
    background-color:rgba(213, 168, 85, 0.813);
    color: rgb(107 70 108);
    font-size: 1.5em;
}
.app ul{
    padding: 0;
    border: none;
    border-radius: 25px;
    list-style: none;
    background-color:#8080b9;   
}
.app li:hover{
    box-shadow: 5px 5px red;
    color:orange;
}
.app ul li{
    display: flex;
    padding:10px;
    border-bottom: 3px solid yellow;
    color:white;
}
.check{
    cursor: pointer;
}
.task {
    padding: 5px 10px;
    font-size: 18px;
    border: none;
    background-color:#8080b9;
}
.app ul li i{
  cursor: pointer;
}
.app ul li i:hover {
    color: rgb(255, 82, 82);
 
}
.completed {
    color: rgba(192, 192, 192, 0.8);
    text-decoration: line-through;
  }
   
